.jumbotronC{
    height: 400px;
    background-image: url(../img/jumbotronC.jpg);
    font-weight: 900;
    background-size: cover;
    background-position: bottom;
    font-size: 30px;
    color: black;
    text-shadow: 0 1px 5px white; 
    text-align: center;
}

.secC{
    background-color: rgb(226, 207, 183);
    text-align: center;
}

.linkC{
    padding-top: 20px;
}

.linkC a{
    font-size: 30px;
    text-decoration: none;
}