.jumbotronC{
    height: $jumboHeight;
    background-image: url(../img/jumbotronC.jpg);
    font-weight: 900;
    background-size: cover;
    background-position: bottom;
    font-size: 30px;
    color: $negro;
    text-shadow: 0 1px 5px $blanco; 
    text-align: center;
}

.secC{
    background-color: $sec;
    text-align: center;
}

.linkC{
    padding-top: 20px;
}

.linkC a{
    font-size: 30px;
    text-decoration: none;
}