footer{
    background-color: #000;
    color:gray;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

footer a{
    text-decoration: none;
    color: gray;
    letter-spacing: 15px;
}