.jumbotron{
    height: $jumboHeight;
    background-image: url(../img/workspace-1280538_1920.jpg);
    font-weight: bold;
    background-size: cover;
    background-position: right;
    font-size: 30px;
    color: $blanco;
    text-shadow: 0 3px 3px gray;
}

.nleft, .Pleft, .Sleft{
    background-position: center;
    background-size: cover;
    height: 350px;
}

.nleft{
    background-image: url(../img/iphones-7479304_1920.jpg);
}

.Pleft{
    background-image: url(../img/iphonesvarios.jpg);
}

.Sleft{
    background-image: url(../img/indexservicios.jpg);
}

.Pright, .Sright, .nright{
    padding: 20px;
    background-color: $gris;
    text-shadow: 0 2px 2px $blanco;
    font-weight: 400;
}

.nright h3{
    font-size: 30px;
}

.nright p{
    font-size: 20px;
}

.Pright a, .Sright a{
    align-self: flex-end;
}

.articulo{
    border: 5px solid $negro;
    text-align: center;
    background-color: beige;
}

h4{
    margin-bottom: 20px;
}

.articulo i{
    font-size: 35px;
    margin-bottom: 20px;
}