.flexbox{
    display: flex;
}

.navbar{
    background-color: rgb(83, 83, 83);
}

.navbar-brand{
    font-size: 25px;
}

.navbar-brand img{
    height: 60px;
}

.nav-link{
    color: $blanco !important;
    text-shadow: 0 0 5px $negro;
}

.nav-link:hover{
    color:#ff0 !important;
}