.jumbotronP{
    height: 400px;
    background-image: url(../img/fondoProductos.jpg);
    font-weight: bold;
    background-size: cover;
    background-position: center;
    font-size: 30px;
    color: #000000;
    text-shadow: 0 1px 1px white; 
}

.secP{
    background-color: rgb(226, 207, 183);
    text-align: center;
    padding-bottom: 20px;
}

.secP h3{
    margin-top: 20px;
}

.secP img{
    margin-bottom: 20px;
}

.col-6 h3{
    font-size: 16px;
}

.col-md-4 h3{
    font-size: 25px;
}

.col-md-4 a{
    font-size: 25px;
}