.jumbotronS{
    height: $jumboHeight;
    background-image: url(../img/jumbotronS.jpg);
    font-weight: 900;
    background-size: cover;
    background-position: center;
    font-size: 30px;
    color: $negro;
    text-shadow: 0 1px 5px $blanco; 
}

.secS{
    background-color: $sec;
    text-align: center;
    padding-bottom: 20px;
}

.secS h3{
    font-size: 30px;
    margin: 15px;
}

.secS p{
    font-size: 20px;
}

.col-12 p{
    font-size: 16px;
}

.col-12 a{
    font-size: 20px;
}