@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.flexbox {
  display: flex;
}

.navbar {
  background-color: rgb(83, 83, 83);
}

.navbar-brand {
  font-size: 25px;
}

.navbar-brand img {
  height: 60px;
}

.nav-link {
  color: #fff !important;
  text-shadow: 0 0 5px #000;
}

.nav-link:hover {
  color: #ff0 !important;
}

.jumbotron {
  height: 400px;
  background-image: url(../img/workspace-1280538_1920.jpg);
  font-weight: bold;
  background-size: cover;
  background-position: right;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 3px 3px gray;
}

.nleft {
  background-image: url(../img/iphones-7479304_1920.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}

.nright {
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.466);
  text-shadow: 0 2px 2px white;
  font-weight: 400;
}

.nright h3 {
  font-size: 30px;
}

.nright p {
  font-size: 20px;
}

.articulo {
  border: 5px solid #000;
  text-align: center;
  background-color: beige;
}

h4 {
  margin-bottom: 20px;
}

.articulo i {
  font-size: 35px;
  margin-bottom: 20px;
}

.Pleft {
  background-image: url(../img/iphonesvarios.jpg);
  background-position: center;
  background-size: cover;
  height: 350px;
}

.Pright, .Sright {
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.466);
  text-shadow: 0 2px 2px white;
  font-weight: 400;
}

.Pright a, .Sright a {
  align-self: flex-end;
}

.Sleft {
  background-image: url(../img/indexservicios.jpg);
  background-position: center;
  background-size: cover;
  height: 350px;
}

footer {
  background-color: #000;
  color: gray;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

footer a {
  text-decoration: none;
  color: gray;
  letter-spacing: 15px;
}

.jumbotronP {
  height: 400px;
  background-image: url(../img/fondoProductos.jpg);
  font-weight: bold;
  background-size: cover;
  background-position: center;
  font-size: 30px;
  color: #000000;
  text-shadow: 0 1px 1px white;
}

.secP {
  background-color: rgb(226, 207, 183);
  text-align: center;
  padding-bottom: 20px;
}

.secP h3 {
  margin-top: 20px;
}

.secP img {
  margin-bottom: 20px;
}

.col-6 h3 {
  font-size: 16px;
}

.col-md-4 h3 {
  font-size: 25px;
}

.col-md-4 a {
  font-size: 25px;
}

.jumbotronS {
  height: 400px;
  background-image: url(../img/jumbotronS.jpg);
  font-weight: 900;
  background-size: cover;
  background-position: center;
  font-size: 30px;
  color: black;
  text-shadow: 0 1px 5px white;
}

.secS {
  background-color: rgb(226, 207, 183);
  text-align: center;
  padding-bottom: 20px;
}

.secS h3 {
  font-size: 30px;
  margin: 15px;
}

.secS p {
  font-size: 20px;
}

.col-12 p {
  font-size: 16px;
}

.col-12 a {
  font-size: 20px;
}

.jumbotronQS {
  height: 400px;
  background-image: url(../img/jumbotronQS.jpg);
  font-weight: 900;
  background-size: cover;
  background-position: left;
  font-size: 30px;
  color: black;
  text-shadow: 0 1px 5px white;
}

.secQS {
  background-color: rgb(226, 207, 183);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.contenedorQS {
  display: flex;
  justify-content: center;
}

.clientesQS {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: repeat(6, 300px);
  grid-gap: 15px;
  grid-template-areas: "cliente1" "cliente2" "cliente3" "cliente4" "cliente5" "cliente6";
}

.cliente {
  background-position: center;
  background-size: cover;
}

.cliente1 {
  background-image: url(../img/cliente1.jpg);
  grid-area: cliente1;
}

.cliente2 {
  background-image: url(../img/cliente2.jpg);
  grid-area: cliente2;
}

.cliente3 {
  background-image: url(../img/cliente3.jpg);
  grid-area: cliente3;
}

.cliente4 {
  background-image: url(../img/cliente4.jpg);
  grid-area: cliente4;
}

.cliente5 {
  background-image: url(../img/cliente5.jpg);
  grid-area: cliente5;
  background-position: top;
}

.cliente6 {
  background-image: url(../img/cliente6.jpg);
  grid-area: cliente6;
  background-position: top;
}

@media only screen and (min-width: 370px) {
  .clientesQS {
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(3, 300px);
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 0px 10px;
    grid-template-areas: "cliente1 cliente2" "cliente3 cliente4" "cliente5 cliente6";
  }
}
@media only screen and (min-width: 768px) {
  .clientesQS {
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 400px);
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 0px 10px;
    grid-template-areas: "cliente1 cliente2 cliente3" "cliente4 cliente5 cliente6";
  }
}
.jumbotronC {
  height: 400px;
  background-image: url(../img/jumbotronC.jpg);
  font-weight: 900;
  background-size: cover;
  background-position: bottom;
  font-size: 30px;
  color: black;
  text-shadow: 0 1px 5px white;
  text-align: center;
}

.secC {
  background-color: rgb(226, 207, 183);
  text-align: center;
}

.linkC {
  padding-top: 20px;
}

.linkC a {
  font-size: 30px;
  text-decoration: none;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  animation-name: aparecer;
  animation-duration: 2s;
}

@keyframes aparecer {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
h1 {
  font-size: 50px;
}

.boton {
  text-decoration: none;
  background-color: rgba(14, 125, 168, 0.87);
  color: rgb(255, 255, 255);
  text-shadow: none;
  border-radius: 10px;
  padding: 10px;
}

.boton:hover {
  color: #ff0;
}

h2 {
  text-align: center;
  background-color: gray;
  padding: 20px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 3px 3px #000;
  margin-bottom: 0;
}/*# sourceMappingURL=estilos.css.map */